.mainContainer {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 2rem;
  align-items: start;

  margin-top: 2rem;
}

.sidebarWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  position: sticky;
  top: 1.5rem;

  align-self: start;
}

@media (max-width: 992px) {
  .mainContainer {
    grid-template-columns: 220px 1fr;
    gap: 1.5rem;
  }
}

@media (max-width: 860px) {
  .mainContainer {
    grid-template-columns: 1fr;
  }

  .sidebarWrapper {
    position: static;
    width: 100%;
  }
}